body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center
}

h1 {
    font-size: 45px;
    font-family: Helvetica, Arial, Helvetica, sans-serif;
    color: darkgreen;
    font-weight: bold;
    transition: color 600ms;
}

a {
    display: block;
    padding: 10px;
}